*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/capture.png
/captures
.externalNativeBuild
.cxx
local.properties
Build
/*/build
build/
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.DS_Store
.idea
*.log
.nav/
captures/
.stack-work/
.idea/
*.swp
*~
# Mobile specific
app/google-services.json
app/src/main/res/values/google-maps-api.xml